.inside-story {
  background-color: #222222;;
  padding: 0px 200px;
  padding-top: 150px;
}
.subtitle{
  color: #FC4444;
  text-shadow: 0px 0px 30px rgb(255 43 43 / 54%);
  font-size: 98px;
  font-weight: bold;
  text-align: center;
}